<h4>Coupon Enter</h4>
<hr />

<form asp-action="ShowPriceAfterCut" method="post">
    <div class="form-group">
        <p>Original Price: 100</p>
        <p>Discounted Price: @ViewBag.DiscountedPrice</p>
    </div>
    <div class="form-group">
        <label for="CouponPhrase">Coupon Code:</label>
        <input type="text" id="CouponPhrase" name="CouponPhrase" class="form-control" />
    </div>

    <div class="form-group">
        <input type="submit" value="Apply Coupon" class="btn btn-primary" />
    </div>
</form>

@if (ViewBag.DiscountedPrice != null)
{
    <div class="alert alert-success">
        <strong>Discounted Price: </strong>@ViewBag.DiscountedPrice
    </div>
}
